<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tarefa.css') }}" media="screen"> 
    
    

    <title>App Tarefas</title>
</head>

<body>
    <h1>Lista Tarefas</h1>
    <hr>
    <div class="content">
    <form method="POST">
        <p>
            <b><label for="nome">Descrição da Tarefa</label></b>
        </p>
        <p>
            <input type="text" name="nome" value="{{ tarefa['nome'] }}"
                placeholder="nome da tarefa"></input>
        </p>
        <p>
            <b><label for="data">Data</label></b>
        </p>
        <p>
            <input type="date" name="data" value="{{ tarefa['data'] }}"
                placeholder="insira data"></input>
        </p>
        <p>
            <b><label for="status">Status</label></b>
        </p>
       
        <p>
            <input id="degree-0" name="status" required type="radio" value="Iniciar" {{ "checked" if tarefa['status'] ==  'Iniciar' }} >
            <label for="degree-0">Iniciar</label>
        </p>
        <p>
            <input id="degree-1" name="status" required type="radio" value="Andamento"{{ "checked" if tarefa['status'] ==  'Andamento' }}>
            <label for="degree-1">Andamento</label>
        </p>
        <p>
            <input id="degree-1" name="status" required type="radio" value="Concluída"{{ "checked" if tarefa['status'] ==  'Concluída' }}>
            <label for="degree-1">Concluída</label>
        </p>
        <button type="submit">Salvar</button>
    </form>
    <hr>
    
    
</body>
</html>